<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="off" monitorInterval="1800">
    <Properties>
        <Property name="fileDir">/data/logs</Property>
        <Property name="appName">magic-dao-test</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} %-5level %class{36}.%M()/%L  - %msg%xEx%n" />
        </Console>

        <RollingFile name="rollingFile" fileName="${fileDir}/${appName}.log"
                     filePattern="${fileDir}/${date:yyyy-MM}/${appName}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                    pattern="%d{yyyy.MM.dd HH:mm:ss z} %-5level %class{36}.%M()/%L - %msg%xEx%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="250 MB" />
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="com.hengda.hdb" level="debug" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="rollingFile" />
        </Logger>
        <Root level="debug">
            <appender-ref ref="console" />
            <appender-ref ref="rollingFile" />
        </Root>
    </Loggers>
</configuration>